#slider-71 .wd-slide {
	min-height: 495px;
}
#slider-71 .wd-slider-arrows {
	--wd-arrow-size: 65px;
	--wd-arrow-shadow: 0px 0px 0px 0px rgba(255,255,255,0);
}

@media (max-width: 1024px) {
	#slider-71 .wd-slide {
		min-height: 500px;
	}
	#slider-71 .wd-slider-arrows {
		--wd-arrow-offset-h: 10px;
	}
}

@media (max-width: 768px) {
	#slider-71 .wd-slide {
		min-height: 750px;
	}
}
